


body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    margin:0;
    -webkit-font-smoothing: subpixel-antialiased; /* antialiased | subpixel-antialiased | none */
}


.star {
        visibility: hidden;
}

.project-card {
    display:flex;
    flex-grow:1;
    height:325px;
    width:100%;
    margin-bottom:40px;
    transition: all .2s ease-in-out 0s;
   }
   
   .project-preview {
     flex-basis:50%;
     flex-shrink:0;
     overflow:hidden;
     position:relative;
     background-color:lightgrey;
   }
   
   .project-card .project-preview img {
     position:absolute;
     object-fit:cover;
     width:100%;
     height:100%;
     }
     
     .project-card .project-description {
         background-color:white;
         padding:20px;
         box-sizing: border-box;
         display:block;
         width:100%;

     }
     
   


 .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

.namee {
    padding-top:1em;
    text-align: left;
    font-size:18px;
}


.card {
    max-width:340px;
    margin:auto;
    display:block;
    /* Add shadows to create the "card" effect */
     box-shadow: 0px 3px 8px 0px rgba(70,70,90,0.15);
    transition: 0.3s;
}

/* Add some padding inside the card container */
.cardcontainer {
    padding: 16px;
    text-align:center;
}

/*persona start*/


.wrapper{
    width: 100%;
}
.profile-card{
    height: auto;
    text-align: center;
    margin: 20px auto;
    box-shadow:0px 4px 8px rgba(0,0,0,.1);
}

.persona-text {
    font-size:16px;
}

.profile-card .profile-body{
    background-color: var(--white);
    padding: 20px 20px 20px 20px;
}

.profile-card .profile-body .author-img{
    margin-top: -20px;
    margin-bottom: 20px;
}

.profile-header {
    background:lightcoral;
    height:10px;
}
.profile-card .profile-body .author-img img{
    border-radius: 50%; 
    border:8px solid lightcoral;
    background-color: var(--white);
    margin-top:25px;
}


.profile-card .profile-body .intro{
   font-size: 14px;
   font-weight: 400;
   line-height: 1.6;
   margin: 20px  0px 30px  0px;
  text-align: left;

}


/*persona end*/

.container1 {
   width: 100%;
   padding: 25px 0;
   margin:25px auto;
   position: relative;
   overflow: hidden;
}

.container1:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl;
    text-align: right;
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #DF5F96;
   background: #DF5F96;
   margin-top: 11px;
   z-index: 99;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #494c4c;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
    font-weight:700;
}


.timeline-content p {
   font-size: 18px;
   line-height: 2;
     color:#494c4c;
}

/**********Timeline V2 ****/

.container2 {
   width: 100%;
    max-width:750px;
    padding: 25px 0;
    margin:25px auto;
   position: relative;
   overflow: hidden;

}

.container2:before {
   content: '';
   position: absolute;
   top: 0;
   left: 8px;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1;

   }

.marker2 {
    width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #DF5F96;
   margin-top: 9px;
   z-index: 9999;

}
.timeline2-h1 {
     font-weight:700;
    font-size: 20px;
    color:#494c4c;
    width:100%;
    max-width:800px;
    margin:auto;
}


.timeline-block2 {
   width: calc(50% + 8px);
   display: flex;
   justify-content: space-between;
   clear: both;
      width: 100%;
      margin-bottom: 10px;
}


.timeline-block-right2 {
   float: right;
}


.timeline-content2 {
   width: 95%;
   padding: 0 15px;
    color: #494c4c;
}

.timeline-content2 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content2 {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content2 p {
    font-size: 18px;
   line-height: 2;
   color: #494c4c;

}


/***********End Timeilne V2 ****/

header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.nav-up {
    top:-70px;
}

.headcontain {
    font-size:0;
    max-width:1150px;
    margin:auto;
    padding-top:5px;
    padding-bottom:5px;
}

.navguys {
    float:right;
}

header {
    position:relative;
    display:block;
    background-color:white;
    height: 60px;
    position: fixed;
    top: 0;
    transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
    width:100%;
   /* z-index:9999;*/
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}

#bio {
    width:100%;
    background-color:white;
    display:block;
}

.bio-image {
    width:50%;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.highlight {
    color:#222328 !important;
}

.highlight-footer {
    color:#E7E6E6 !important;
    opacity: 1 !important;
}


a {
    text-decoration: none;
    color: palevioletred;
    font-weight:300;
}

.aboutlink > a {
    color: #94959e;
    padding:2px;
}

.aboutlink  {
    font-weight:300;
    letter-spacing:1px;
    font-size:11px;
    text-transform: uppercase;
    margin:15px;
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
}


.aboutlink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -6px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background:palevioletred;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.aboutlink:hover:after {
  width: 100%;
  left: 0;
}

.bottomhighlight  {
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
}



.bottomhighlight:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background:palevioletred;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .bottomhighlight:hover:after {
    width: 100%;
    left: 0;
  }

.bottomlink > a {
    color: #94959e;
    padding:1px;
}

.bottomlink  {
    font-weight:300;
    font-size:13px;
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
}


.bottomlink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 1px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background:#E7E6E6;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.bottomlink:hover:after {
  width: 100%;
  left: 0;
}


.behancelink {
    font-weight:;
    font-size:20px;
    display:block;
    float:left;
    position:relative;
    transition: all .2s ease-in-out 0s;
}

.behancelink:hover {
    transform: translateY(-4px);
}

.trangy {
    position:relative;
    display:block;
    z-index:1;
    max-width:600px;
}


.linkthing {
    top:10px;
    width:160px;
    display:inline-block;
    margin:0;
    margin-right:20px;
    transition: all .2s ease-in-out 0s;
    position:relative;
}



.col {
    min-width:200px;
}

#introsection {
    background-color:white;
    width:100%;
    margin:auto;
}

.fullblock {
    width:100%;
    padding-top:2em;
    padding-bottom:1em;
}

.fullgrayblock {
    background:#F2F4F5;
    width:100%;
    padding-top:2em;
    padding-bottom:2em;
}

.nopadtopbottom {padding-top:0px; padding-bottom:0px;}


.extraspacetop {padding-top:4em;}
.extraspacebottom {padding-bottom:4em;}
.extramarginspacetop {margin-top:4em;}
.extramarginspacebottom {margin-bottom:4em}


.spacetop {padding-top:1.5em;}
.spacebottom {padding-bottom:1.5em;}

.introtext {
    margin:auto;
    display:block;


}

#projectsection {
    max-width:1240px;
    margin:auto;
}

.homepage-title {
    font-family: "Merriweather";
    line-height:1.4;
    font-size: 48px;
    font-weight:700;
    color:#222328;
    margin-top:20px;
    margin-bottom:0px;
    transition: all .4s ease-in-out 0s;
    max-width:750px;
}


.fortyspace {
    height:40px;
}

.twentyspace {
    height:1.5em;
}

.tenspace {
    height:1em;
}

.nospacemobile {
  height:1em;
}

.line{
    display:block;
    border:none;
    height:3px;
    width:50px;
    max-width:250px;
     background: palevioletred;
      margin-bottom:1em;
    /*background: linear-gradient(120deg, #55e4ff, #e90d87);*/
}

.persona_line{
    display:block;
    margin:auto;
    border:none;
    color:white;
    height:1px;
    width:60%;
    max-width:50px;
     background:#F08080;
}

.section_line{
    display:block;
    margin:auto;
    margin-top:1em;
    border:none;
    color:white;
    height:1px;
    width:100%;
     background:rgb(170, 170, 170, 0.35);
}

.top_line{
    display:block;
    margin:auto;
    margin-bottom:1em;
    border:none;
    color:white;
    height:1px;
    width:100%;
     background:rgb(170, 170, 170, 0.35);
}

/*.sexy_line{
    display:block;
    margin:auto;
    border:none;
    color:white;
    height:1px;
    width:60%;
    max-width:250px;
     background: rgba(155, 150, 150, 0.35);
    background: linear-gradient(120deg, #55e4ff, #e90d87);
}

.sexy_linefooter{
    display:block;
    margin:auto;
    border:none;
    color:white;
    height:1px;
    width:400px;
    max-width:550px;
     background: rgba(150, 150, 150, 0.35);
    /*background: linear-gradient(120deg, #55e4ff, #e90d87);*/
}




p {
    font-weight:300;
    color: #757682;
}

.title {
    display:inline-block;
    text-align: left;
    max-width:650px;
    font-size:22px;
    margin:auto;
    color: #222328;
     font-weight:700;
}

.paragraph {
    line-height:1.8;
    color: #222328;
    font-size:18px;
    font-weight:300;
    max-width:750px;
    }


.project-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:18px;
    font-weight:300;
    margin:auto;
}

.blog-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:18px;
    font-weight:300;
    margin:auto;

}

.pre-paragraph {
    font-family: "Merriweather";
    line-height:1.8;
    color: #222328;
    font-size:20px;
    font-weight:700;
    margin:auto;
}

.subhead {
 color: #94959e;
    letter-spacing:2px;
    font-size:14px;
    line-height:1.8;
    padding-bottom:5px;
    font-weight:300;
}

    .headerintro {
   padding-top: 1em;
    color: #94959e;
    font-size:17px;
    line-height:1.8;
    padding-bottom:5px;
   font-weight:300;
}

.copyright {
    color: #888;
    font-size:13px;
    font-weight:;
    text-align:left;
    line-height:20px;
    width:100%;
    }

.caption {
    line-height:1.8;
    color: #757682;
    font-size:15px;
    font-style:italic;
    font-weight:;
    margin:auto;
    padding-top:5px;

}

.header-text {
    padding-top:10px;
    text-align:left;
    line-height:1.8;
    max-width:650px;
    color: #222328;
    font-size:18px;
    font-weight:;
    }

img {
    margin:0 auto;
    display:block;
    max-width:100%;
}

@media only screen and (min-width:701px) {

.column2{
     display:none;
}    

.hideme2, .hideme3{
    display:none;
}

.ministyleguidemobile {
    display:none;
}
}

.animate-in {
    -webkit-animation: fadeIn .75s ease-in;
    animation: fadeIn .75s ease-in;
}

 @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.btn {
    display:inline-block;
    position:relative;
    text-decoration: none;
    background-color:#181819;
    font-size: 15px;
    font-weight:;
    padding: 15px 25px 15px 25px;
    transition: 0.4s;
    color: white;
    border-width:2px;
    border-style: solid;
    border-color: #181819;
    border-radius:25px;
    min-width:250px;
}

.btn:hover {
    transform: translateY(-4px);
    -webkit-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    -moz-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    box-shadow: 0px 8px 28px 1px rgba(70,70,90,.4);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.nextsection {
    display:block;
    position:relative;
    margin:auto;
    min-width:150px;
    text-align:center;
    padding-top:40px;
}

/** start timeline**/
.process-container {
  margin: 0 auto;
}
#process-timeline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width:750px;
}
#process-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 3px;
  background: #d7e4ed;
}
.process-timeline-block {
  position: relative;
  margin: 1em 0;
}
.process-timeline-block:first-child {
  margin-top: 0;
}
.process-timeline-block:last-child {
  margin-bottom: 0;
}
.process-timeline-cat {
  position: absolute;
  top: 0px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.process-timeline-cat.process-circle {
  background: #DF5F96;
}
.process-timeline-content {
  position: relative;
  margin-left: 60px;
  background-color:#F5F7F8;
  padding: 1em;

}
.process-timeline-content .process-timeline-content {
  display: inline-block;
}
.process-timeline-content::before {
  content: '';
  position: absolute;
  top: 6px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 0px solid #f4f2f4;
}

.process-p {
    margin-bottom:0px;
    line-height:1.8;
    font-size:16px;
}

/**end timeline**/



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    text-decoration: none;
    color: #000;
}


.card-img-top {
    width: 100%;
}



.card-img-left {
    width: 50%;
}

.card-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px;
    background-color:white;
    margin-top:-5px;
    height:140px;
}

.card-box2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px;
    background-color:white;
    margin-top:-5px;
}

.card-box > .card-title {
    font-size: 18px;
    margin-bottom: 0;
    text-align: left;
    line-height:1.6;
}

.card-title {
    font-family: "Merriweather";
    color: #222328;
    font-weight:400;
    margin:0;
    font-size:18px;
    line-height:1.6;
}

.feature-card-title {
    font-family: "Merriweather";
    line-height: 1.6;
    color: #222328;
    font-weight: 400;
    margin:0;
    margin-bottom: 0.75rem;
    padding: 30px 30px 0px 30px;
}

.feature-card-text {
    color: #94959e;
    font-size:17px;
    font-weight:300;
    line-height:1.6;
    margin:0;
    margin-bottom: 0.75rem;
    padding: 0px 30px 30px 30px;
    max-width:550px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    line-height: 1;
}



.card-type {
    color: #94959e;
    line-height:1.8;
    font-size:13px;
    font-weight:300;
    margin-top: 5px;
    margin-bottom:0px;
    text-align: left;
}

#project {
    margin:auto;
    display:none;
    background-color:white;
    height:100%;
    width:100%;
}



.digital-illustrations {
    background-image:url('../images/header-backgrounds/artwork.jpg');
    background: linear-gradient(200deg, #9ec3d4, #2e444f);
}

/*header h1*/
h1{
    box-sizing:border-box;
    position:relative;
    width:100%;
    left:0;
    text-align: left;
    padding-top: 2.5em;
    margin:auto;
}

h1 {
    font-size: 34px;
    font-weight:;
}

.project-h1 {
    font-family: "Merriweather";
     font-weight:400;
    line-height:1.8;
    font-size:30px;
    color:#222328;
    width:100%;
    margin:auto;
    transition: all .4s ease-in-out 0s;

}

.project-h2 {
    font-family:"Merriweather";
     font-weight:700;
    line-height:1.8;
    font-size:24px;
    color:#222328;
    width:100%;
    margin:auto;
    transition: all .4s ease-in-out 0s;

}

.thought {
    font-size:16px;
    font-style: italic;
    padding-left:1em;
    color: #757682;
    border-left: 1px solid #757682;
    max-width:550px;
    margin:auto;
    line-height:1.8;
    transition: all .4s ease-in-out 0s;
    margin-top:1em;
    margin-bottom:1em;
}


.timeline-h1 {
      font-weight:700;
    font-size: 22px;
    color:#222328;
    width:100%;
    max-width:800px;
    margin:auto;
}

.center-h1 {
      font-weight:700;
    font-size: 24px;
    color:#222328;
    width:100%;
    max-width:800px;
    margin:auto;
    text-align: center;
}

ul, ol {
    margin:auto;
    line-height:1.8;
    color: #222328;
    font-size:18px;
    font-weight:300;
     max-width:750px;
}

.wrapper {
    display:inline-block;
    max-width:100%;
    margin: 0 auto;
}

.image {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0);
}

.unequal-column {
    float:left;
}

.left {
  width: 43%;
}

.middle {
  width:  4%;
}

.right {
  width: 53%;
    float:right;
}

.section-left {
    width: 29%;
  }
  
  .section-middle {
    width:  4%;
  }
  
  .section-right {
    width: 67%;
      float:right;
  }

  .bio-left {
    width: 40%;
  }
  
  .bio-middle {
    width:  4%;
  }
  
  .bio-right {
    width: 56%;
      float:right;
  }

.row {
    max-width:1150px;
    margin:auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    width: 30%;
    margin: 1.66666667% 1.66666667%;
    float: left;
}

.column2 {
    width: 30%;
    margin: 1.66666667% 1.66666667%;
    float: left;
}

.singlecolumn {
    width: 96.666666%;
    margin:auto;
    padding-bottom:1.66666667%;
    display:none;
}

.featurecontainer {
    transition: all .2s ease-in-out 0s;
    margin:auto;
    max-width: 1150px;
    height:300px;
    display:block;
    position: relative;
    margin-bottom:40px;
}

.invisible {
    visibility: hidden;
}

.titleguy, .titleguy2{
    font-family: 'Proxima Nova', Georgia, sans-serif;
    letter-spacing:1px;
    font-size:14px;
    padding-bottom:3px;
    font-weight:;
    background: #39b6ba;
  color: #fff;
  width: 80px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  padding-top:3px;
  position: relative;
  margin-bottom:10px;
  text-align:center;
}

.featurecontainer, .project-card:hover {
	transform: translateY(-4px);
    -webkit-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    -moz-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    box-shadow: 0px 8px 28px 1px rgba(70,70,90,0.25);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.featurecontainer, .project-card:active {
	transform: translateY(0);
    box-shadow: 4px 4px 16px 4px rgba(0,0,0,.2);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.featurecontainer, .project-card:hover .overlay {
    opacity: 0.5;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.container:hover .text{
    opacity:1;
    transition: .75s ease;
    background: rgba(1, 1, 1, 0);
    color:white;
}

.rightblock1 {
   background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
   /*background-image: url("../images/1.svg");*/
   background-position: center;
    display:inline-block;
    width:50%;
    height:100%;

}

.rightblock2 {
    background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
    background-image: url("../images/portfolio-images/1.svg");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 
 }

 .rightblock3 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    /*background-image: url("../images/portfolio-images/1.svg");*/
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }

 .rightblock4 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    background-image: url("../images/portfolio-images/23.png");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }

 .rightblock5 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    background-image: url("../images/portfolio-images/datacenterbg.png");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }

 .rightblock6 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    background-image: url("../images/portfolio-images/personalproj.png");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }
 

.kitties {
    width:99%;
    position: relative;
  top: 50.5%;
  left: 49.5%;
  transform: translate(-50%,-50%);
  max-width:550px;
}



.leftblock {
    float:left;
    background-color:white;
    display:inline-block;
    width:50%;
    height:100%;
}

.project-image {
    display: block;
    margin: 5px auto;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,.1));
}

.gifguy {
    display:none;
}

.project-image-multi {
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,.2);
    display: inline-block;
    max-width: 600px;
    margin: 5px auto;
}

.project-image-multi-2 {
    display: inline-block;
    max-width: 600px;
    margin: 5px auto;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,.2);
}

.main {
    display:block;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}

.mainblock {
    max-width:1150px;
    margin:auto;
}

.footerblock {
    width:100%;
    color:blue;
    margin:auto;
    display:block;
    position:relative;
}

.blogblock {
    max-width:750px;
    margin:auto;
}



.container {
    transition: all .2s ease-in-out 0s;
    position:relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.project-one {
       background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
}

.project-two {
    background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
     background-image: url("../images/portfolio-images/1.svg");
     background-position: center;
}

.project-three {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     /*background-image: url("../images/portfolio-images/1.svg");*/
     background-position: center;
}

.project-four {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     background-image: url("../images/portfolio-images/23.png");
     background-position: center;
}

.project-five {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     background-image: url("../images/portfolio-images/datacenterbg.png");
     background-position: center;
}

.project-six {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     background-image: url("../images/portfolio-images/personalproj.png");
     background-position: center;
}

.container:hover {
	transform: translateY(-4px);
    -webkit-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    -moz-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    box-shadow: 0px 8px 28px 1px rgba(70,70,90,0.25);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.container:active {
	transform: translateY(0);
    box-shadow: 4px 4px 16px 4px rgba(0,0,0,.2);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    }

.container:hover .overlay {
    opacity: 0.5;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.container:hover .text{
    opacity:1;
    transition: .75s ease;
    background: rgba(1, 1, 1, 0);
    color:white;
}

.text {
   position: absolute;
    top: 0px;
    left: 0px;
   /*background: rgba(1, 1, 1, 0.60);*/
    color: #555555;
    padding:15px 20px 15px 20px;
     font-weight:700;
    font-size:18px;
}


/* NEW FOOTER */
.newfooter {
    background-color:grey;
    width:100%;
    display:block;
}

@media only screen and (max-width: 950px){

.column {
    width: 46.6666667%;
}

}


.top {
    display: inline-block;
    /* box-shadow: 1px 1px 0.5px #fff;*/
    background-color:#181819;
    width: 4em;
    height: 4em;
    border: 1 solid #333;
    border-radius: 50%;
    margin-bottom:-60px;
}

.top:after {
    content: '';
	display: inline-block;
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid #fff;
    border-right: 0.2em solid #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.goto-top:hover {
    cursor:pointer;
}

#goto-topJS{
    margin-left:1%;
    position:relative;
    bottom:20px;
    left:50px;
}

.card-image {
    background-color:lightgray;
}

.bottomstuffs {
    margin:auto;
    display:block;
    text-align: center;
    position:relative;

}

.bottomstuffswhite {
    margin:auto;
    display:block;
    text-align: center;
    position:relative;

}

.footer {
    position:block;
    background-color: #181819;
    margin-top:-20px;
    padding-left:25px;
    padding-right:25px;
}

.linksncopy {
   /* float:right;*/
    display:inline-block;
    position:relative;
    margin:auto;
}

.sociallinks{
    height:30px;
    float:left;
    padding-top:10px;
}

.footermenu {
    color: #757682;
    font-size:13px;
    font-weight:;
    width:25%;
    min-width:200px;
    line-height:20px;
    text-align: left;
}

.projectlinkthing {
    display:block;
}

projectlinkthing .current {
  background:red;
  color:white;
}



.footerbg {
    max-width:1150px;
    padding-top:25px;
    padding-bottom:25px;
    margin:auto;
    background-color: #181819;
}

.footersvg {
    margin:5px;
    display:inline-block;
    width: 35px;
    opacity: 0.3;
    -webkit-transition: opacity .25s ease-in-out;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

a.footertextlink {
    color:#E7E6E6;
    opacity:0.5;
    -webkit-transition: opacity .25s ease-in-out;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }

a.footertextlink:hover {
    opacity:1;
}



a.bottomlinks {
    color: #E7E6E6;
    text-decoration: none;
    cursor:auto;
}



.footersvg:hover {
    display:inline-block;
    opacity:1;
    cursor:pointer;
}

.groupguyz2 {
    column-count:2;
    column-gap:1em;
}

.groupguyz3 {
    column-count:3;
    column-gap:2em;
}

.hideme2 {
    width:100%;
}

.hideme3 {
    width:100%;
}

/*----image fade----*/


.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(158,172,201,0.5);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */

  -moz-box-shadow: 0 1px 3px rgba(158,172,201,0.5);
  /* Firefox 3.5 - 3.6 */

  box-shadow: 0 1px 5px rgba(158,172,201,0.5);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
    }


.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

/*---make a basic box ---*/

/* defines the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
}

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpHome {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.project-title {

  opacity: 0;
    animation: fadeInUp 0.5s ease-in-out 0s forwards;}

.first
{

  opacity: 0;
    animation: fadeInUpHome 1s ease-in-out 0s forwards;}

.second
{

  opacity: 0;
    animation: fadeInUpHome 1s ease-in-out 0s forwards;}

@media screen and (max-width:600px) {


.footermenu {
    width:100%;
    line-height:20px;
    text-align: left;
}

.linksncopy {
    float:left;
    display:inline-block;
    position:relative;
    margin:auto;
    padding-top:20px;
}

.footer {
    position:block;
    background-color: #181819;
    text-align: center;
    margin-top:-20px;
}

}

@media only screen and (max-width:700px) {

    .featurecontainer, .project-card {
        display:none;
    
    }

 .unequal-column {
    width:100%;
    }


    .process-p {
    margin-bottom:0px;
    font-size:14px;
}

    .col {
        width:100%;
    }


.hidetimeline {
    display:none;
}

.hide {
    display:none;
}

.gifguy {
    display:block;
}

.caption {
    line-height:1.8;
    color: rgba(48, 51, 53, 0.6);
    font-size:14px;
    font-weight:;
    margin:auto;


}
.persona-text {
    font-size:15px;
}


.header-text {
    text-align:left;
    line-height:1.8;
    max-width:450px;
    color: #494c4c;
    font-size:14px;
    font-weight:;
}

.card-title {
    font-size:16px;
}

.project-h1 {
    font-family: "Merriweather";
    display:inline-block;
    font-size:24px;
    margin:auto;
    color: #494c4c;
}

    .project-h2 {
    font-family: "Merriweather";
    font-size:20px;
    color:#222328;

}

    .namee {
    font-size:14px;
}

.homepage-title {
    font-family: "Merriweather";
    font-size: 30px;
    padding-bottom:0.25em;
}

.blog-title {
    line-height:1.2;
    font-size: 26px;
    padding-bottom:0.25em;
}

    .aboutlink {
    font-size:10px;

}

    .linkthing {
    top:10px;
    width:120px;
    display:inline-block;
    margin:0;
    margin-right:20px;
    transition: all .2s ease-in-out 0s;
    position:relative;
}

    header {
    position:relative;
    display:block;
    background-color:white;
    height: 50px;
    position: fixed;
    top: 0;
    transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
    width:100%;
    /*z-index:99;*/
    margin:auto;
}


.center-h1 {
    font-size: 18px;
}

.project-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:16px;
    font-weight:;

}

.blog-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:16px;
    font-weight:;

}


.pre-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:18px;
    font-weight:700;
    margin:auto;
}

    .thought {
     font-weight:;
    font-size:15px;
    }

.subhead {
    letter-spacing:2px;
    font-size:13px;
    font-weight:;
}

    .headerintro {
    padding-top:0;
    font-size:15px;
    font-weight:;
        padding-bottom:20px;
}

ul, ol {
    margin:auto;
    line-height:1.8;
    font-size:16px;
    font-weight:;
}

.groupguyz2, .groupguyz3 {
   column-count:1;
}

.ministyleguide {
    display:none;
}



@media only screen and (max-width: 630px){


/*.linkthing {
    top:15px;
    width:50px;
    display:inline-block;
    margin:0;
} */
 .card-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px;
    background-color:white;
    margin-top:-5px;
    height:auto;
}



 .singlecolumn{
    width: 100%;
    padding-bottom:0;
    display:block;
}



.column{
    float: none;
    margin: 2.5em auto;
    margin-top:0px;
    width: 100%;
}



.paragraph {
    font-size:16px;
    padding:0px;
}

.behancelink {
    font-size:15px;
}

.titleguy, .titleguy2 {
    margin-left:0px;
    margin-right:0px;
    }
}

@media only screen and (min-width: 631px) {

    .titleguy2 {
        margin-bottom:0px;
    }
    
    .column2{
        display:none;
    }
    
}

@media only screen and (max-width: 700px){

    .container1 {
       width: 100%;
        max-width:600px;
       margin:25px auto;
       position: relative;
       overflow: hidden;
    }

    .column2{
        float: none;
        display:block;
        margin: 2.5em auto;
        margin-top:0px;
        width: 100%;
    }
}    

@media only screen and (max-width: 768px){

.container1 {
   width: 100%;
    max-width:600px;
   margin:25px auto;
   position: relative;
   overflow: hidden;
}


.container1:before {
    left: 8px;
    width: 2px;
}

.timeline-block {
    width: 100%;
    margin-bottom: 30px;
}

.timeline-block-right {
    float: none;
}

.timeline-block-left {
    float: left;
    direction: ltr;
    text-align: left;
}

.timeline-content p {
   font-size: 15px;
   color: #494c4c;
}

.timeline-content2 p {
   font-size: 15px;
   color: #494c4c;
}

.marker{
    margin-top: 5px;
}

.marker2 {
  margin-top:9px;
    }

.timeline-h1 {
     font-weight:700;
    font-size: 18px;
    color:#494c4c;
    width:100%;
    max-width:800px;
    margin:auto;
}

.timeline2-h1 {
      font-weight:700;
    font-size: 18px;
    color:#494c4c;
    width:100%;
    max-width:800px;
    margin:auto;
}




}

