


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    -webkit-font-smoothing: subpixel-antialiased; /* antialiased | subpixel-antialiased | none */
}

.empty-top-div {
    height: 20px;
}

@media only screen and (max-width: 700px){
    .empty-top-div {
        height: 10px;
    }
}

span {
    white-space: pre;
}


.star {
        visibility: hidden;
}

/*new index*/

.lazy {
    height:auto;
  
    
}

.gif-image-wrapper {
    height: 0;
    padding-bottom: 69.11%;
    border: 2px solid white;
    position: relative;
    max-width:680px;
    margin:auto;
}

.type-mobile-image-wrapper {
    height: 0;
    padding-bottom: 109.29%;
    border: 2px solid white;
    position: relative;
}

.type-image-wrapper {
    height: 0;
    padding-bottom: 41.67%;
    border: 2px solid white;
    position: relative;
}

.bigger-image-wrapper {
    height: 0;
    padding-bottom: 92.09%;
    border: 2px solid white;
    position: relative;
}

.big-image-wrapper {
    height: 0;
    padding-bottom: 54.64%;
   /* border: 2px solid white;*/
    position: relative;
}

.index-image-wrapper {
    height: 0;
    padding-bottom:44%;
   /* padding-bottom: 46.7%;*/
   /* border: 2px solid white;*/
    position: relative;
    justify-content: center;
}

.narrow-image-wrapper {
    height: 0;
    padding-bottom: 33.88%;
    border: 2px solid white;
    position: relative;
    
}



.mobile-index-image-wrapper {
    height: 0;
    padding-bottom: 63.13%;
    position: relative;
}


.grumpy-image {
    width: 100%;
    position: absolute;
}
  
.newcard {
    transition: all .2s ease-in-out 0s;
}
  
  .newnewcontainer {
    width: 100%;
    max-width:1150px;
    margin:auto;
  }
  
  .post {
      margin-top: 2rem;
    }
    
    .post__excerpt {
      position: relative;
    }
  
  
  .newcard {
    background-color: white;
    padding: 3em;
  }
  




/*end new index*/

.project-card {
    display:flex;
    flex-grow:1;
    height:400px;
    width:100%;
    margin-bottom:4em;
    transition: all .2s ease-in-out 0s;
   }
   
   .project-preview {
     flex-basis:57%;
     flex-shrink:0;
     overflow:hidden;
     position:relative;
     background-color:white;
   }
   
   .project-card .project-preview img {
     position:absolute;
     object-fit:cover;
     width:100%;
     height:100%;
     }
     
     .project-card .project-description {
         background-color:white;
         padding:3rem;
         box-sizing: border-box;
         display:block;
         width:100%;

     }

     
   


 .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

.namee {
    padding-top:1em;
    text-align: left;
    font-size:19px;
}


.card {
    max-width:340px;
    margin:auto;
    display:block;
    /* Add shadows to create the "card" effect */
     box-shadow: 0px 3px 8px 0px rgba(70,70,90,0.15);
    transition: 0.3s;
}

/* Add some padding inside the card container */
.cardcontainer {
    padding: 16px;
    text-align:center;
}

/*persona start*/


.wrapper{
    width: 100%;
}
.profile-card{
    height: auto;
    max-width:600px;
    text-align: center;
    margin: 20px auto;
    box-shadow:0px 4px 8px rgba(0,0,0,.1);
}

.persona-text {
    font-size:17px;
    color: #222328;
}

.profile-card .profile-body{
    background-color: var(--white);
    padding: 20px 20px 20px 20px;
}

.profile-card .profile-body .author-img{
    margin-top: -20px;
    margin-bottom: 20px;
}

.profile-header {
    background:lightcoral;
    height:10px;
}
.profile-card .profile-body .author-img img{
    border-radius: 50%; 
    border:8px solid lightcoral;
    background-color: var(--white);
    margin-top:25px;
}


.profile-card .profile-body .intro{
   font-size: 14px;
   font-weight: 400;
   line-height: 1.6;
   margin: 20px  0px 30px  0px;
  text-align: left;

}


/*persona end*/







.container1 {
   width: 100%;
   padding: 25px 0;
   margin:25px auto;
   position: relative;
   overflow: hidden;
}

.container1:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl;
    text-align: right;
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #DF5F96;
   background: #DF5F96;
   margin-top: 11px;
   z-index: 99;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #494c4c;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
    font-weight:700;
}


.timeline-content p {
   font-size: 19px;
   line-height: 2;
     color:#494c4c;
}

/**********Timeline V2 ****/

.container2 {
   width: 100%;
    max-width:750px;
    padding: 25px 0;
    margin:25px auto;
   position: relative;
   overflow: hidden;

}

.container2:before {
   content: '';
   position: absolute;
   top: 0;
   left: 8px;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1;

   }

.marker2 {
    width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #DF5F96;
   margin-top: 9px;
   z-index: 9999;

}
.timeline2-h1 {
     font-weight:700;
    font-size: 20px;
    color:#494c4c;
    width:100%;
    max-width:800px;
    margin:auto;
}


.timeline-block2 {
   width: calc(50% + 8px);
   display: flex;
   justify-content: space-between;
   clear: both;
      width: 100%;
      margin-bottom: 10px;
}


.timeline-block-right2 {
   float: right;
}


.timeline-content2 {
   width: 95%;
   padding: 0 15px;
    color: #494c4c;
}

.timeline-content2 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content2 {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content2 p {
    font-size: 19px;
   line-height: 2;
   color: #494c4c;

}


/***********End Timeilne V2 ****/

/*modal*/

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: pointer;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    padding-top:2%;
    padding-bottom:2%;
    width: 90%;
    max-width: 1000px;
    vertical-align: middle;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    line-height:1.5;
    
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */



.close {
   position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 300;
    transition: 0.3s;

}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 90%;
    }
}
/*end modal*/

/*hamburger*/



.nav {
    width: 100%;
    height: 80px;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index:888;
    animation: 2s fadeInNav ease;
  }
  
  @keyframes fadeInNav {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
      top: -25px;
    }
    100% {
      opacity: 1;
      top: 0;
    } 
  }
  
  .navWrapper {
    width: 85%;
    margin: auto;
    padding-top: 15px;
  }
  
  #logo {
    color: #292929;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    margin-top:10px;
  }

  .logo {
      width:45px;
      min-width:30px;
      margin-top:-16px;
      margin-left:0;
      margin-right:0;
      -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .right-ham {
    float: right;
    margin-right:-15px;
    
  }

  .downArrow{
      margin:auto;
	position: relative;
    bottom: 45%;
    animation: animate 1s infinite;
    animation-timing-function: linear;
}

@keyframes animate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}

    
}
/*.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -moz-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
*/
 


  
  #nav-icon {
      float:right;
    width: 60px;
    height: 45px;
    margin-top: -8px;
    position: relative;
    z-index: 2;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) scale(0.4);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #222328;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    background: white;
  }
  
  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    background: white;
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
    background: white;
  }
  
  .hamoverlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(34deg, rgba(255, 105, 130, 0.95) 0%, rgba(137, 32, 110, 0.95) 100%);
   /*background: rgb(0,0,0,.9);*/
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    display: flex;
    align-items: center;
  }
  
  .hamoverlay.open {
    opacity: 1;
    visibility: visible;
  }
  
  .hamoverlay a {
    font-family: 'Source Serif Pro', serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px; 
    opacity: 0;
    transition: transform 0.2s ease;
    overflow: hidden;
  }
  
  .hamoverlay p {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    bottom: 20px;
    margin-left: 135px;
    opacity: 0;
  }
  
  
  
  @keyframes fadeInCopyright {
    0%{
      opacity: 0;
    }
    80%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
    }
  }
  
  .hamoverlay a:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    background: white;
    left: 0;
  }
  
  .hamoverlay a:hover:after {
    width: 100%;
    left: 0;
  }
  
  .hamoverlay a.open:hover {
    transform: translateY(0px);
  }
  
  .hamoverlay a.open:nth-child(1) {
    opacity: 1;
    animation: .3s fadeInLinks1 ease;
  }
  
  @keyframes fadeInLinks1 {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
    }
  }
  
  .hamoverlay a.open:nth-child(2) {
    opacity: 1;
    animation: .3s fadeInLinks2 ease;
  }
  
  @keyframes fadeInLinks2 {
    0%{
      opacity: 0;
    }
    60%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
    }
  }
  
  .hamoverlay a.open:nth-child(3) {
    opacity: 1;
    animation: .3s fadeInLinks3 ease;
  } 
    
  @keyframes fadeInLinks3 {
    0%{
      opacity: 0;
    }
    70%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
    }
  } 

  .content-inner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70%;     
      transform: translate(-50%, -50%);
    text-align:center;
  }
  .banner-section .content-inner .hero-text{
      color: white;
      font-size: 4rem;
      padding: 0 .5em;
      line-height: 1.25em;
      display: block;
       font-weight: 300;   
  }
  .banner-section .content-inner p{
     color:#fff;
    font-size: 2rem;
  }
  
  .overlayContent {
    text-align:center;
    margin:auto;
  }

header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.nav-up {
    top:-70px;
}

.headcontain {
    font-size: 0;
    max-width:1150px;
    height: 60px;
   /* padding: 8px 20px;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navguys {
    float:right;
}

.bottomnavguys {
    float:left;
    text-align:left;
}

header {
    position:relative;
    display:block;
    background-color:white;
    padding-right:25px;
    padding-left:25px;
    transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
    width:100%;
    z-index:998;
    margin:auto;
}

header.sticky {
    position: sticky;
    top: 0;
}

#bio {
    width:100%;
    background-color:white;
    display:block;
}

.bio-image {
    width:50%;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.highlight {
    color:#222328 !important;
}

.highlight-footer {
    color:#E7E6E6 !important;
    opacity: 1 !important;
}


a {
    text-decoration: none;
    color: palevioletred;
    font: weight 400;
    -webkit-tap-highlight-color: transparent;
        
}

.aboutlink > a, .aboutlink1 > a {
    color: #94959e;
    padding:2px;
}

.aboutlink  {
    font-weight:400;
    letter-spacing:1px;
    font-size:13px;
    text-transform: uppercase;
    margin-top:15px;
    margin:15px;
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
    
}

.aboutlink1  {
    font-weight:400;
    letter-spacing:1px;
    font-size:13px;
    text-transform: uppercase;
    margin-top:15px;
    margin:15px;
    margin-right:0px;
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
    
}




.aboutlink:after, .aboutlink1:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -6px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background:palevioletred;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.aboutlink:hover:after, .aboutlink1:hover:after {
  width: 100%;
  left: 0;
}


.bottomhighlight  {
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
}



.bottomhighlight:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background:palevioletred;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .bottomhighlight:hover:after {
    width: 100%;
    left: 0;
  }

.bottomlink > a {
    color: #94959e;
    padding:1px;
}

.bottomlink  {
    display:inline-block;
    position:relative;
    transition: all .1s ease-in-out 0s;
}


.bottomlink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 1px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background:#E7E6E6;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.bottomlink:hover:after {
  width: 100%;
  left: 0;
}


.behancelink {
    font-weight:;
    font-size:20px;
    display:block;
    float:left;
    position:relative;
    transition: all .2s ease-in-out 0s;
}

.behancelink:hover {
    transform: translateY(-4px);
}

.trangy {
    position:relative;
    display:block;
    z-index:1;
    margin:auto;
    width:200px;
}



.linkthing {
    top: 8px;
    display:inline-block;
    margin:0;
    margin-right:20px;
    transition: all .2s ease-in-out 0s;
    position:relative;
}



.col {
    min-width:200px;
}

#introsection {
    background-color:white;
    width:100%;
    margin:auto;
}

.fullblock {
    width:100%;
    padding-bottom:1em;
}

.fullgrayblock {
    /*background:#F2F4F5;*/
    background:#F7F8FC;
    width:100%;
    padding-top:2em;
    padding-bottom:2em;
}

.nopadtopbottom {padding-top:0px; padding-bottom:0px;}


.extraspacetop {padding-top:4em;}
.extraspacebottom {padding-bottom:4em;}
.extramarginspacetop {margin-top:4em;}
.extramarginspacebottom {margin-bottom:4em}


.spacetop {padding-top:1.5em;}
.spacebottom {padding-bottom:1.5em;}

.introtext {
    margin:auto;
    display:block;
   


}

.blog-introtext {
    margin:auto;
    display:block;
    max-width:600px;
}


#projectsection {
    max-width:1240px;
    margin:auto;
}

.homepage-title {
    font-family: 'Source Serif Pro', serif;
    line-height:1.4;
    font-size: 48px;
    font-weight:700;
    color:#222328;
    margin-top:20px;
    margin-bottom:0px;
    transition: all .4s ease-in-out 0s;
    max-width:750px;
}


.fortyspace {
    height:40px;
}

.twentyspace {
    height:1.5em;
}

.halfspace {
    height:.5em;
}

.tenspace {
    height:1em;
}

.nospacemobile {
  height:1em;
}

.ministyleguide {
    max-width:850px;
    margin:auto;
}

.ministyleguidemobile {
    width:100%;
    margin:auto;
}

.gifdude {
    max-width:680px;
    margin:auto;
}


.line{
    display:block;
    border:none;
    height:3px;
    width:50px;
    max-width:250px;
     background: palevioletred;
      margin-bottom:1em;
    /*background: linear-gradient(120deg, #55e4ff, #e90d87);*/
}

.persona_line{
    display:block;
    margin:auto;
    border:none;
    color:white;
    height:1px;
    width:60%;
    max-width:50px;
     background:#F08080;
}

.section_line{
    display:block;
    margin:auto;
    margin-top:1em;
    border:none;
    color:white;
    height:1px;
    width:100%;
     background:rgb(170, 170, 170, 0.35);
}

.top_line{
    display:block;
    margin:auto;
    margin-bottom:1em;
    border:none;
    color:white;
    height:1px;
    width:100%;
     background:rgb(170, 170, 170, 0.35);
}

.bottom_line{
    display:block;
    margin:auto;
    margin-bottom:3.5em;
    border:none;
    color:white;
    height:1px;
    width:100%;
     background:rgb(170, 170, 170, 0.35);
}

/*.sexy_line{
    display:block;
    margin:auto;
    border:none;
    color:white;
    height:1px;
    width:60%;
    max-width:250px;
     background: rgba(155, 150, 150, 0.35);
    background: linear-gradient(120deg, #55e4ff, #e90d87);
}

.sexy_linefooter{
    display:block;
    margin:auto;
    border:none;
    color:white;
    height:1px;
    width:400px;
    max-width:550px;
     background: rgba(150, 150, 150, 0.35);
    /*background: linear-gradient(120deg, #55e4ff, #e90d87);*/
}




p {
    font-weight:300;
    color: #757682;
}

.title {
    display:inline-block;
    text-align: left;
    max-width:650px;
    font-size:22px;
    margin:auto;
    color: #222328;
     font-weight:700;
}

.paragraph {
    line-height:1.8;
    color: #222328;
    font-size:19px;
    font-weight:400;
    max-width:800px;
    }


.project-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:19px;
    font-weight:400;
    max-width:600px;
    margin:auto;
}

.about-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:19px;
    font-weight:400;
    margin:auto;
}

.blog-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:19px;
    font-weight:400;
    margin:auto;
    max-width:650px;

}

.pre-paragraph {
    font-family: 'Source Serif Pro', serif;
    line-height:1.6;
    color: #222328;
    font-size:24px;
    font-weight:700;
    margin:auto;
    max-width:600px;
}

.blog-pre-paragraph {
    font-family: 'Source Serif Pro', serif;
    line-height:1.6;
    color: #222328;
    font-size:24px;
    font-weight:700;
    max-width:650px;
    margin:auto;
}

.role {
    font-family: 'Source Serif Pro', serif;
    line-height:1.8;
    color: #222328;
    font-size:24px;
    font-weight:700;
    margin-top:0px;
    margin-bottom:0px;
}

.blog-headline {
    font-family: 'Source Serif Pro', serif;
    line-height:1.8;
    color: #222328;
    font-size:28px;
    font-weight:700;
    margin:auto;
}

.major-section {
    font-family: 'Source Serif Pro', serif;
    line-height:1.8;
    color: #222328;
    font-size:26px;
    font-weight:700;
    max-width:650px;
    margin:auto;
}

.about-major-section {
    font-family: 'Source Serif Pro', serif;
    line-height:1.8;
    color: #222328;
    font-size:26px;
    font-weight:700;
    margin:auto;
}

.subhead {
 color: #94959e;
    letter-spacing:2px;
    font-size:14px;
    line-height:1.8;
    padding-bottom:5px;
    font-weight:300;
}

    .headerintro {
   color: #757682;
   max-width:650px;
    font-size:19px;
    line-height:1.8;
    padding-bottom:5px;
   font-weight:400;
}

.copyright {
    color: #757682;
    font-size:15px;
    text-align:left;
    line-height:24px;
    width:100%;
    }

.caption {
    line-height:1.8;
    color: #757682;
    font-size:15px;
    font-style:italic;
    font-weight:;
    margin:auto;
    padding-top:5px;
    text-align:center;

}

.header-text {
    padding-top:10px;
    text-align:left;
    line-height:1.8;
    max-width:650px;
    color: #222328;
    font-size:19px;
    font-weight:;
    }

img {
    margin:0 auto;
    display:block;
    max-width:100%;
}

@media only screen and (min-width:701px) {


 /* newindex */
 .newnewcontainer {
    width: 100%;
    margin:auto;
  }
  
  .post {
    display: flex;
    align-items: center;}

   
    
  
    .post__image {
      width: 100%;
      justify-content: center;
    }
    
  
      .post__excerpt {
          max-width:451px;
        margin-right: -5rem;
        z-index:500;
      }

      .post__excerptright {
        max-width:451px;
      margin-left: -5rem;
      z-index:500;
    }

      
      
      .card__header,
      .card__cta {
        text-align: left;
      
    }

    .card__cta {
        visibility: hidden;
    }

    
  
  
  .newcard {
    &:before {
      bottom: auto;
    }
  
}

/*new index*/


.column2{
     display:none;
}    

.hideme2, .hideme3{
    display:none;
}

.ministyleguidemobile {
    display:none;
}
}

.animate-in {
    -webkit-animation: fadeIn .75s ease-in;
    animation: fadeIn .75s ease-in;
}

 @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



.index_btn {
    background-color:black;
    padding: 5px 5px 5px 5px;
    color:white;
    border-style: solid;
    border-color:black;
}

.btn {
    display:inline-block;
    position:relative;
    text-decoration: none;
    background-color:#181819;
    font-size: 15px;
    font-weight:;
    padding: 15px 25px 15px 25px;
    transition: 0.4s;
    color: white;
    border-width:2px;
    border-style: solid;
    border-color: #181819;
    border-radius:25px;
    min-width:250px;
}

.btn:hover {
    transform: translateY(-4px);
    -webkit-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    -moz-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    box-shadow: 0px 8px 28px 1px rgba(70,70,90,.4);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.nextsection {
    display:block;
    position:relative;
    margin:auto;
    min-width:150px;
    text-align:center;
    padding-top:40px;
}

/** start timeline**/
.process-container {
  margin: 0 auto;
}
#process-timeline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width:750px;
}
#process-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 3px;
  background: #d7e4ed;
}
.process-timeline-block {
  position: relative;
  margin: 1em 0;
}
.process-timeline-block:first-child {
  margin-top: 0;
}
.process-timeline-block:last-child {
  margin-bottom: 0;
}
.process-timeline-cat {
  position: absolute;
  top: 0px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.process-timeline-cat.process-circle {
  background: #DF5F96;
}
.process-timeline-content {
  position: relative;
  margin-left: 60px;
  background-color:#F5F7F8;
  padding: 1em;

}
.process-timeline-content .process-timeline-content {
  display: inline-block;
}
.process-timeline-content::before {
  content: '';
  position: absolute;
  top: 6px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 0px solid #f4f2f4;
}

.process-p {
    margin-bottom:0px;
    line-height:1.8;
    font-size:17px;
}

/**end timeline**/



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    text-decoration: none;
    color: #000;
}


.card-img-top {
    width: 100%;
}



.card-img-left {
    width: 50%;
}

.card-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px;
    background-color:white;
    margin-top:-5px;
    height:140px;
}

.card-box2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px;
    background-color:white;
    margin-top:-5px;
}

.card-box > .card-title {
    font-size: 19px;
    margin-bottom: 0;
    text-align: left;
    line-height:1.6;
}

.card-title {
    font-family: 'Source Serif Pro', serif;
    color: #222328;
    font-weight:400;
    margin:0;
    font-size:20px;
    line-height:1.6;
}

.feature-card-title {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.4;
    font-size:28px;
    color: #222328;
    font-weight: 700;
    margin:0;
    margin-bottom: 1rem;
   
}

.feature-card-text {
    color: #757682;
    font-size:17px;
    font-weight:400;
    line-height:1.6;
    margin:0;
    margin-bottom: 0.75rem;
    max-width:550px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    line-height: 1;
}



.card-type {
    color: #757682;
    line-height:1.8;
    font-size:16px;
    font-weight:400;
    margin-top: 5px;
    margin-bottom:0px;
    margin:auto;
    text-align: left;
    max-width:600px;
}

#project {
    margin:auto;
    display:none;
    background-color:white;
    height:100%;
    width:100%;
}



.digital-illustrations {
    background-image:url('../images/header-backgrounds/artwork.jpg');
    background: linear-gradient(200deg, #9ec3d4, #2e444f);
}

header h1{
    box-sizing:border-box;
    position:relative;
    width:100%;
    left:0;
    top:-60px;
    text-align: left;
    padding-top: 2.5em;
    margin:auto;
}

h1 {
    font-size: 34px;
    font-weight:;
}



.project-h2 {
     font-weight:400;
    line-height:1.8;
    font-size:15px;
    color:#757682;
    width:100%;
    margin:auto;
    transition: all .4s ease-in-out 0s;
    text-align:left;
    text-transform:uppercase;
    letter-spacing:1.5px;

}

.thought {
    font-size:17px;
    font-style: italic;
    padding-left:1em;
    color:#757682;
    border-left: 1px solid #757682;
    max-width:550px;
    margin:auto;
    line-height:1.8;
    transition: all .4s ease-in-out 0s;
    margin-top:1em;
    margin-bottom:1em;
}


.timeline-h1 {
      font-weight:700;
    font-size: 22px;
    color:#222328;
    width:100%;
    max-width:800px;
    margin:auto;
}

.center-h1 {
      font-weight:700;
    font-size: 24px;
    color:#222328;
    width:100%;
    max-width:800px;
    margin:auto;
    text-align: center;
}

ul, ol {
    margin:auto;
    line-height:1.8;
    padding-top:1em;
    color: #222328;
    font-size:19px;
    font-weight:400;
     max-width:600px;
}

.bio-list {
    padding-top:0;
    max-width:650px;
    font-size:19px;
    margin:auto;
}

.wrapper {
    display:inline-block;
    max-width:100%;
    margin: 0 auto;
}

.image {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0);
}

.unequal-column {
    float:left;
}

.left {
  width: 40%;
}

.middle {
  width:  4%;
}

.right {
  width: 56%;
    float:right;
  
}

.section-left {
    width: 21%;
  }
  
  .section-middle {
    width:  2%;
  }
  
  .section-right {
    width: 79%;
      float:right;
      padding-left:30px;
  }

  .bio-left {
    width: 40%;
  }
  
  .bio-middle {
    width:  4%;
  }
  
  .bio-right {
    width: 56%;
      float:right;
  }

.row {
    max-width:1150px;
    margin:auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    width: 30%;
    margin: 1.66666667% 1.66666667%;
    float: left;
}

.column2 {
    width: 30%;
    margin: 1.66666667% 1.66666667%;
    float: left;
}

.singlecolumn {
    width: 96.666666%;
    margin:auto;
    padding-bottom:1.66666667%;
    display:none;
}

.featurecontainer {
    transition: all .2s ease-in-out 0s;
    margin:auto;
    max-width: 1150px;
    height:300px;
    display:block;
    position: relative;
    margin-bottom:40px;
}

.invisible {
    visibility: hidden;
}

.titleguy, .titleguy2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    padding-bottom:3px;
    font-weight:;
   /* background: #39b6ba;*/
  color: #222328;
  position: relative;
  margin-bottom:10px;
  text-align:left;
}

.featurecontainer, .project-card:hover, .newcard, .biocontainer {
	transform: translateY(-4px);
    -webkit-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    -moz-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    box-shadow: 0px 8px 28px 1px rgba(70,70,90,0.25);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.featurecontainer, .project-card:active {
	transform: translateY(0);
    box-shadow: 4px 4px 16px 4px rgba(0,0,0,.2);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.featurecontainer, .project-card:hover .overlay {
    opacity: 0.5;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.container:hover .text{
    opacity:1;
    transition: .75s ease;
    background: rgba(1, 1, 1, 0);
    color:white;
}

.rightblock1 {
   background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
   /*background-image: url("../images/1.svg");*/
   background-position: center;
    display:inline-block;
    width:50%;
    height:100%;

}

.rightblock2 {
    background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
    background-image: url("../images/portfolio-images/1.svg");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 
 }

 .rightblock3 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    /*background-image: url("../images/portfolio-images/1.svg");*/
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }

 .rightblock4 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    background-image: url("../images/portfolio-images/23.png");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }

 .rightblock5 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    background-image: url("../images/portfolio-images/datacenterbg.png");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }

 .rightblock6 {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
    background-image: url("../images/portfolio-images/personalproj.png");
    background-position: center;
     display:inline-block;
     width:50%;
     height:100%;
 }
 

.kitties {
    width:99%;
    position: relative;
  top: 50.5%;
  left: 49.5%;
  transform: translate(-50%,-50%);
  max-width:550px;
}



.leftblock {
    float:left;
    background-color:white;
    display:inline-block;
    width:50%;
    height:100%;
}

.project-image {
    display: block;
    margin: auto;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,.1));
}

.gifguy {
    display:none;
}

.project-image-multi {
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,.2);
    display: inline-block;
    max-width: 600px;
    margin: 5px auto;
}

.project-image-multi-2 {
    display: inline-block;
    max-width: 600px;
    margin: 5px auto;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,.2);
}

.main {
    display:block;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}

.mainblock {
    max-width:1150px;
    margin:auto;
}

.footerblock {
    width:100%;
    color:blue;
    margin:auto;
    display:block;
    position:relative;
}

.blogblock {
    max-width:900px;
    margin:auto;
}



.container {
    transition: all .2s ease-in-out 0s;
    position:relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.project-one {
       background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
}

.project-two {
    background-image: linear-gradient(34deg, rgba(67,149,90,1) 0%, rgba(197,226,100,1) 100%);
     background-image: url("../images/portfolio-images/1.svg");
     background-position: center;
}

.project-three {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     /*background-image: url("../images/portfolio-images/1.svg");*/
     background-position: center;
}

.project-four {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     background-image: url("../images/portfolio-images/23.png");
     background-position: center;
}

.project-five {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     background-image: url("../images/portfolio-images/datacenterbg.png");
     background-position: center;
}

.project-six {
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(23,23,23,1) 100%);
     background-image: url("../images/portfolio-images/personalproj.png");
     background-position: center;
}

.container:hover {
	transform: translateY(-4px);
    -webkit-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    -moz-box-shadow: 0px 8px 28px 1px rgba(158,172,201,1);
    box-shadow: 0px 8px 28px 1px rgba(70,70,90,0.25);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.container:active {
	transform: translateY(0);
    box-shadow: 4px 4px 16px 4px rgba(0,0,0,.2);
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    }

.container:hover .overlay {
    opacity: 0.5;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.container:hover .text{
    opacity:1;
    transition: .75s ease;
    background: rgba(1, 1, 1, 0);
    color:white;
}

.text {
   position: absolute;
    top: 0px;
    left: 0px;
   /*background: rgba(1, 1, 1, 0.60);*/
    color: #555555;
    padding:15px 20px 15px 20px;
     font-weight:700;
    font-size:19px;
}


/* NEW FOOTER */
.newfooter {
    background-color:grey;
    width:100%;
    display:block;
}

@media only screen and (max-width: 950px){

.column {
    width: 46.6666667%;
}

}


.top {
    display: inline-block;
    /* box-shadow: 1px 1px 0.5px #fff;*/
    background-color:#181819;
    width: 4em;
    height: 4em;
    border: 1 solid #333;
    border-radius: 50%;
    margin-bottom:-60px;
}

.top:after {
    content: '';
	display: inline-block;
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid #fff;
    border-right: 0.2em solid #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.goto-top:hover {
    cursor:pointer;
}

#goto-topJS{
    margin-left:1%;
    position:relative;
    bottom:20px;
    left:50px;
}

.card-image {
    background-color:lightgray;
}

.bottomstuffs {
    margin:auto;
    display:block;
    position:relative;

}

.bottomstuffswhite {
    margin:auto;
    display:block;
    position:relative;

}

.footer {
    position:block;
    background-color: #ffffff;
    margin-top:-20px;
    padding-left:25px;
    padding-right:25px;
    height:282px;
    text-align:left;
}

.greypagefooter {
    position:block;
    background-color: #ffffff;
    margin-top:-20px;
    padding-left:25px;
    padding-right:25px;
    height:225px;
    text-align:left;
}

.linksncopy {
    float:left;
    display:block;
    position:relative;
    margin:auto;
    text-align:left;
   

}

.sociallinks{
    height:30px;
    position:relative;
    display:inline-block;
    margin:auto;
    padding-top:10px;
}





.footerbg {
    max-width:1150px;
    padding-top:55px;
    padding-bottom:55px;
    margin:auto;
    background-color: #ffffff;
}

.footersvg {
    margin:10px;
    display:inline-block;
    width: 35px;
    opacity: 0.3;
    -webkit-transition: opacity .25s ease-in-out;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.footersvg1 {
    margin:10px;
    margin-left:0px;
    display:inline-block;
    width: 35px;
    opacity: 0.3;
    -webkit-transition: opacity .25s ease-in-out;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

a.footertextlink {
    color:#757682;
    line-height:24px;
    -webkit-transition: opacity .25s ease-in-out;
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }

a.footertextlink:hover {
    opacity:1;
}



a.bottomlinks {
    color: #E7E6E6;
    text-decoration: none;
    cursor:auto;
}



.footersvg:hover, .footersvg1:hover {
    display:inline-block;
    opacity:1;
    cursor:pointer;
}

.groupguyz2 {
    column-count:2;
    column-gap:1em;
}

.groupguyz3 {
    column-count:3;
    column-gap:2em;
}

.hideme2 {
    width:100%;
}

.hideme3 {
    width:100%;
}

/*----image fade----*/


.box-shadow {
  -webkit-box-shadow: 0 2px 3px rgba(158,172,201,0.35);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */

  -moz-box-shadow: 0 2px 3px rgba(158,172,201,0.35);
  /* Firefox 3.5 - 3.6 */

  box-shadow: 0 2px 5px rgba(158,172,201,0.35);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
    }


.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}



/*---make a basic box ---*/

/* defines the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
}

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpHome {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.project-title {

  opacity: 0;
    animation: fadeInUp 0.5s ease-in-out 0s forwards;}



@media screen and (max-width:600px) {






.footer {
    position:block;
    background-color: #ffffff;
    text-align: center;

}

}

@media only screen and (max-width:700px) {


    .section-right {
        width: 79%;
          float:right;
          padding-left:0px;
      }

    .turnmeintoablock {
    display:block;
}



    .featurecontainer, .project-card, .post {
        display:none;
    
    }

 .unequal-column {
    width:100%;
    }


    .process-p {
    margin-bottom:0px;
    font-size:15px;
}

    .col {
        width:100%;
    }


.hidetimeline {
    display:none;
}

.hide {
    display:none;
}

.gifguy {
    display:block;
}

.caption {
    line-height:1.8;
    color: rgba(48, 51, 53, 0.6);
    font-size:14px;
    font-weight:;
    margin:auto;


}
.persona-text {
    font-size:15px;
}





    .project-h2 {
    font-size:14px;
    text-align:left;
    max-width:600px;

}

    .namee {
    font-size:14px;
}

.homepage-title {
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    padding-bottom:0.25em;
}

.blog-title {
    line-height:1.2;
    font-size: 26px;
    padding-bottom:0.25em;
}


    .linkthing {
    top: 0px;
    display:inline-block;
    margin:0;
    margin-right:20px;
    transition: all .2s ease-in-out 0s;
    position:relative;
}

    header {
    display:block;
    background-color:white;
    height: 50px;
    top: 0;
    transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
    width:100%;
    z-index:99;
    margin:auto;
}


.center-h1 {
    font-size: 19px;
}

.project-paragraph, .blog-paragraph, .paragraph, .about-paragraph {
    line-height:1.8;
    color: #222328;
    font-size:17px;
    font-weight:;

}

.bio-list {
    font-size:17px;
}


.pre-paragraph, .blog-pre-paragraph, .role {
    line-height:1.6;
    color: #222328;
    font-size:20px;
    font-weight:700;
    margin:auto;
}


.blog-headline {
    font-size:24px;
}

.major-section, .about-major-section {
    line-height:1.8;
    color: #222328;
    font-size:22px;
    font-weight:700;
    margin:auto;
}


    .thought {
     font-weight:;
    font-size:15px;
    }

.subhead {
    letter-spacing:2px;
    font-size:13px;
    font-weight:;
}

    .headerintro {
    font-size:17px;
    font-weight:;
}

ul, ol {
    margin:auto;
    line-height:1.8;
    font-size:17px;
    font-weight:;
}

.groupguyz2, .groupguyz3 {
   column-count:1;
}

.ministyleguide {
    display:none;
}






@media only screen and (max-width: 630px){


/*.linkthing {
    top:15px;
    width:50px;
    display:inline-block;
    margin:0;
} */
 .card-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px;
    background-color:white;
    margin-top:-5px;
    height:auto;
}



 .singlecolumn{
    width: 100%;
    padding-bottom:0;
    display:block;
}



.column{
    float: none;
    margin: 2.5em auto;
    margin-top:0px;
    width: 100%;
}



.behancelink {
    font-size:15px;
}

.titleguy, .titleguy2 {
    margin-left:0px;
    margin-right:0px;
    }
}

@media only screen and (min-width: 631px) {

    .titleguy2 {
        margin-bottom:0px;
    }
    
    .column2{
        display:none;
    }
    
}

@media only screen and (max-width: 700px){

    .container1 {
       width: 100%;
        max-width:600px;
       margin:25px auto;
       position: relative;
       overflow: hidden;
    }

    .column2{
        float: none;
        display:block;
        margin: 2.5em auto;
        margin-top:0px;
        width: 100%;
    }
}    

@media only screen and (max-width: 768px){

.container1 {
   width: 100%;
    max-width:600px;
   margin:25px auto;
   position: relative;
   overflow: hidden;
}


.container1:before {
    left: 8px;
    width: 2px;
}

.timeline-block {
    width: 100%;
    margin-bottom: 30px;
}

.timeline-block-right {
    float: none;
}

.timeline-block-left {
    float: left;
    direction: ltr;
    text-align: left;
}

.timeline-content p {
   font-size: 15px;
   color: #494c4c;
}

.timeline-content2 p {
   font-size: 15px;
   color: #494c4c;
}

.marker{
    margin-top: 5px;
}

.marker2 {
  margin-top:9px;
    }

.timeline-h1 {
     font-weight:700;
    font-size: 19px;
    color:#494c4c;
    width:100%;
    max-width:800px;
    margin:auto;
}

.timeline2-h1 {
      font-weight:700;
    font-size: 19px;
    color:#494c4c;
    width:100%;
    max-width:800px;
    margin:auto;
}

.logo {
    width:30px;
    margin-top:-8px;
    margin-left:0;
    margin-right:0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




}

