/**
 * === START: Light/dark theme variables
 */
:root {
  --default-border-radius: 80px;
  --default-transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

:root[data-theme="light"] {
  --theme-page-bg: var(--bs-offwhite);
  --theme-white-on-light: var(
    --bs-accent
  ); /*stays white on light mode, but becomes dark greyish on dark mode*/
  --theme-bg-color: var(--bs-white);
  --theme-accent: var(--bs-accent);
  --icon-sun: var(--bs-gray-700);

  --theme-primary-text: var(--bs-body-color);
  --theme-muted-text: var(--bs-gray);
  --theme-link-text: var(--bs-link-color);

  --theme-border-color: var(--bs-gray-400);
  --theme-white-to-mute-border: var(--bs-white);
}

:root[data-theme="dark"] {
  --theme-page-bg: var(--bs-gray-900);
  --theme-white-on-light: var(--bs-gray-700);
  --theme-bg-color: var(--bs-gray-700);
  --theme-accent: var(--bs-gray-700);
  --icon-sun: #edcb16;

  --theme-primary-text: var(--bs-white);
  --theme-muted-text: var(--bs-gray-500);
  --theme-link-text: var(--bs-link-color-dark);

  --theme-border-color: var(--bs-gray-400);
  --theme-white-to-mute-border: var(--bs-gray-700);
}
/**
 * === END: Light/dark theme variables
 */
body {
  background-color: var(--theme-page-bg);
  color: var(--theme-primary-text);
  transition: var(--default-transition);
}

#theme-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  border-radius: var(--default-border-radius);
  border-color: solid var(--theme-border-color);
  cursor: pointer;
  backdrop-filter: blur(2px);
  animation: pulse 2s infinite;
}

#theme-switcher:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(214, 180, 102, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

#icon-sun {
  fill: var(--icon-sun);
}

@font-face {
  font-family: "tiempo";
  src: url(/assets/fonts/TiemposHeadline-Medium.otf);
}

@font-face {
  font-family: "neuemontreal-book";
  src: url(/assets/fonts/ppneuemontreal-book.otf);
}

@font-face {
  font-family: "neuemontreal";
  src: url(/assets/fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: "neuemontreal";
  src: url(/assets/fonts/GraphikRegular.otf);
}

@font-face {
  font-family: "merriweather-regular";
  src: url(/assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "merriweather-bold";
  src: url(/assets/fonts/Merriweather-Bold.ttf);
}

/*box shadow has been commented out with an "f" at the end of it. Remove it to enable it*/

.box-shadowf {
  -webkit-box-shadow: 0 1px 3px rgba(158, 172, 201, 0.5);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */

  -moz-box-shadow: 0 1px 3px rgba(158, 172, 201, 0.5);
  /* Firefox 3.5 - 3.6 */

  box-shadow: 0 1px 5px rgba(158, 172, 201, 0.5);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -webkit-transition: top 0.2s ease-in-out;
  transition: all 0.3s ease 0s;
}

/* make keyframes that tell the start state and the end state of our object */
.animate-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body-section {
  max-width: 760px;
  margin: auto;
}

.line-width {
  max-width: 700px;
}

.smol-line-width {
  max-width: 450px;
}

.vid {
  border: 1px solid grey;
}

.bluebg {
  background-color: var(--bs-body-color);
  height: 330px;
}

.sticky-switcher {
  background: #c92ca2;
  color: #fff;
  position: sticky;
  bottom: 20px;
  padding: 1em 1em;
  width: 200px;
  margin-right: 20px;
  float: right;
  z-index: 1;
}

.radii {
  border-radius: 16px;
}

.wireframe {
  border: 1px solid rgba(105, 105, 105, 0.25);
}

.portlink {
width:120px;
color: var(--theme-primary-text);
border-bottom: 1px solid var(--theme-primary-text);
padding-bottom:4px;
}

.porttext {
}
/* bullets */

.bullet-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
}

.bullet-item-icon {
  display: flex;
  width: 20px;
  height: 20px;
  margin-top: 6px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.bullet-image.contain {
  margin-top: 0;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}
.bullet-image {
  position: static;
  width: 100%;
  height: 100%;
  text-align: left;
  -o-object-fit: cover;
  object-fit: cover;
}

/*end bullets*/

/* cards */

.project-preview {
  overflow: hidden;
  position: relative;
}

.project-card .project-preview img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.casestudy:hover {
  transform: translateY(-4px);
  -webkit-box-shadow: 0 0.125rem 1.25rem rgba(27, 45, 110, 0.15);
  -moz-box-shadow: 0 0.125rem 1.25rem rgba(27, 45, 110, 0.15);
  box-shadow: 0 0.125rem 1.25rem rgba(27, 45, 110, 0.15);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  border-radius: 16px;
}

.casestudy:active {
  transform: translateY(0);
  box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.casestudy:hover .overlay {
  opacity: 0.5;
  visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
/* end cards */

/* blurred bg */
.grad {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px;
  background-image: radial-gradient(
      49% 81% at 27% 5%,
      #ffe2033b 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #f7f1ffff 2%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #d8f4ffff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 7% 67%, #d5fcd5ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 76% 49%, #f8a9367d 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #ffdcc03b 0%, #ffcdcdff 100%),
    linear-gradient(0deg, #ffffffff 0%, #ffffffff 100%);
}

/* blurred bg */

.card-container {
  /*border: 2px solid var(--bs-gray-900);*/
  transition: all 0.2s ease-in-out 0s;
  border-radius: 20px;
  background-color: white;
}

.blurb-container {
  /*border: 2px solid var(--bs-gray-900);*/
  transition: all 0.2s ease-in-out 0s;
  border-radius: 20px;
  background-color: white;
  max-width: 700px;
}

.casestudy {
  transition: all 0.2s ease-in-out 0s;
}

/* start nav*/

.purewhitebg {
  background-color: var(--theme-white-on-light);
  transition: 0.3s all ease-in-out;
}

.greybg {
  background-color: #eeeceb;
}

.quote {
  border-left: 3px solid #cd8371;
  padding-left: 16px;
  max-width: 500px;
  font-style: italic;
  margin: auto;
}

.inbodylink {
  /*text-decoration: underline;
  text-underline-offset: 8px;*/
  color: var(--theme-link-text);
  display: inline-block;
  position: relative;
}

.home-link {
  /*text-decoration: underline;
    text-underline-offset: 8px;*/
  display: inline-block;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--theme-primary-text);
}

.bullet-list {
  counter-reset: bulletList;
}

.list-point {
  align-items: flex-start;
  /*border-bottom: 1px solid #cecccc; */
  column-gap: 1.5rem;
  display: flex;
  margin-bottom: clamp(1rem, 0.72vw + 0.83rem, 1.5rem);
  margin-top: clamp(1rem, 0.72vw + 0.83rem, 1.5rem);
  padding-bottom: clamp(1rem, 0.72vw + 0.83rem, 1.5rem);
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.list-point:before {
  align-items: center;
  background-color: var(--theme-accent);
  box-sizing: border-box;
  color: var(--bs-link-color);
  content: counter(bulletList);
  counter-increment: bulletList;
  display: grid;
  flex: 0 0 3rem;
  font-family: "neuemontreal";
  font-size: 2rem;
  justify-content: space-around;
  text-align: center;
  width:4rem;
  border-radius:4px;
  transition: var(--default-transition);
}

ul {
  margin: 0px;
  font-size: 20px;
}

ul .navlist {
  margin: 0px;
  list-style: none;
  font-size: 20px;
  padding-inline-start: 0px;
}

ul .menu {
  margin: 0px;
  list-style: none;
  font-size: 13px;
  padding-inline-start: 0px;
  transition: 0.3s all ease-in-out;
}

.navlist li a {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  padding: 8px 0px;
  margin: 18px;
  position: relative;
  line-height: 1.4;
  font-family: "neuemontreal";
}

.menu li a {
  display: inline-block;
  position: relative;
  font-family: "neuemontreal", serif;
  font-weight: 500;
}

.navlist li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4%;
  left: 0;
  position: absolute;
  background: var(--theme-primary-text);
  transition: 0.2s all ease-in-out;
  width: 0;
}

.inbodylink:after {
  bottom: 0;
  content: "";
  display: inline-block;
  height: 4%;
  left: 0;
  position: absolute;
  background: var(--theme-link-text);
  transition: 0.2s all ease-in-out;
  width: 0;
}

.home-link:after {
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  background: var(--bs-body-color);
  transition: 0.2s all ease-in-out;
  width: 0;
}

.svg-link {
  fill: var(--theme-primary-text);
  transition: var(--default-transition);
}

.svg-link:after {
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  background: var(--bs-body-color);
  width: 0;
}

.menu li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4%;
  left: 0;
  background: var(--theme-primary-text);
  transition: 0.2s all ease-in-out;
  width: 0;
}

.navlist .one a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4%;
  left: 0;
  position: absolute;
  background: var(--theme-primary-text);
  transition: 0.2s all ease-in-out;
  width: 100%;
}

.menu .one a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4%;
  left: 0;
  position: absolute;
  background: var(--theme-primary-text);
  transition: 0.2s all ease-in-out;
  width: 100%;
}

li a:hover:after {
  width: 100%;
  left: 0;
}

.inbodylink:hover:after {
  width: 100%;
  left: 0;
}

.home-link:hover:after {
  background: var(--theme-primary-text);
  width: 100%;
  left: 0;
}

.navlist {
  visibility: hidden;
}

.menu {
  visibility: hidden;
}

.navlist > li > a {
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.menu > li > a {
  visibility: visible;
}

.menu > li > a {
  transition: 0.3s all ease-in-out;
}

.navlist:hover > li > a {
  opacity: 0.4;
}

.menu:hover > li > a {
  opacity: 0.4;
}

.navlist > li > a:hover {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.menu > li > a:hover {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.navlist li,
.svglist li {
  display: inline-block;
}

.hide-nav {
  transform: translateY(-120%);
  -webkit-transform: translateY(-120%) !important;
}
/*
.nav-up {
  top: -95px;
} */
/*end nav*/

/* start new hamburg menu*/

button {
  border-style: none;
}

button:focus {
  outline: none;
}

.open {
  transition: opacity 0.3s ease-in-out;
}

.hamburger {
  width: 1.2rem;
  height: 0.9375rem;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(0deg);
  background: none;
}
.hamburger i {
  display: block;
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: var(--theme-primary-text);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger i:nth-of-type(1) {
  top: 0;
  transform-origin: left center;
}
.hamburger i:nth-of-type(2) {
  top: 0.375rem;
  transform-origin: left center;
}
.hamburger i:nth-of-type(3) {
  top: 0.75rem;
  transform-origin: left center;
}
.hamburger.open i:nth-of-type(1) {
  transform: rotate(45deg) translate(0, -0.0625rem);
  background: var(--theme-primary-text);
}
.hamburger.open i:nth-of-type(2) {
  opacity: 0;
  width: 0%;
}
.hamburger.open i:nth-of-type(3) {
  transform: rotate(-45deg) translate(0, 0.0625rem);
  background: var(--theme-primary-text);
}
/*end new menu*/

/* start button */
a.cta {
  background: var(--theme-primary-text);
  font-weight: var(--bs-body-font-weight);
  -webkit-font-smoothing: antialiased;
  color: var(--theme-page-bg);
  padding: 18px 85px 18px 25px;
  font-size: 18px;
  line-height: 3em;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  border-radius: 10px;
}

.cta {
  margin-top: 300px;
}

.cta:after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border: 1px solid;
  border-color: var(--theme-page-bg);
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 41%;
  right: 50px;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.cta:hover:before {
  right: 20px;
  background: var(--theme-page-bg);
}

.cta:hover:after {
  right: 35px;
  border: 1px solid;
  border-color: var(--theme-page-bg);
  border-top-color: transparent;
  border-left-color: transparent;
}

/*end button */



.subject-no-line {
  font-size: 13px;
  font-weight: var(--bs-body-font-weight);
  overflow: hidden;
  text-align: left;
  color: var(--theme-muted-text);
  line-height: 1.4;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}


.awesome {
  color: #f35626;
  background-image: -webkit-linear-gradient(180deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: hue 10s infinite linear;
  -webkit-animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(180deg);
  }
  to {
    -webkit-filter: hue-rotate(-180deg);
  }
}

.subject {
  font-size: 20px;
  font-weight: var(--bs-body-font-weight);
  overflow: hidden;
  text-align: left;
  line-height: 1.4;
}

.subject:after {
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid #7a7a7a;
}

.header-name {
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  overflow: hidden;
  text-align: left;
  color: rgb(0, 0, 0);
  line-height: 4.5;
}

.header-name:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid white;
}

.subject-white {
  font-weight: var(--bs-body-font-weight);
  overflow: hidden;
  text-align: left;
  color: var(--theme-primary-text);
  line-height: 1.4;
  transition: var(--default-transition);
}

.subject-white:after {
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--theme-primary-text);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: inherit;
}

.bottom_line {
  display: block;
  margin: auto;
  border-bottom: 1px solid var(--theme-border-color);
  color: white;
  width: 100%;
  /*background: var(--bs-gray-900); */
}

/*start footer*/

ul.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0px; /* eliminate space between li */
}

ul.social-media-list li {
  display: inline-block;
  margin: 16px;
  margin-left: 0;
}

ul.social-media-list img {
  padding: 5px;
  border-radius: 5px;
  background-color: lightblue;
  width: 36px;
  height: 36px;
}

/*ul.social-media-list svg:hover {
  border: 1px solid red;
  width:40px;
  height:40px;

} */

.svglit {
  display: inline;
}

.svg-social {
  width: 40px;
  display: inline-block;
}

.svglist li {
  display: inline-block;
}

.svglist li a img {
  color: var(--bs-body-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 13px;
  display: inline-block;
  margin: 0px 10px;
  margin-left: 0px;
  position: relative;
}

.svglist {
  visibility: hidden;
  padding-inline-start: 0px;
}

.svglist > li > a > img {
  visibility: visible;
}

.svglist > li > a > img {
  transition: 0.3s all ease-in-out;
}

.svglist:hover > li > a > img {
  opacity: 0.4;
}

.svglist > li > a > img:hover {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.footersvg {
  display: inline-block;
  width: 40px;
}
/*end footer*/
